body{
	font-family: arial, helvetica, sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #B3B6B7;
}

form {
	padding: 55px 60px;
	box-shadow: 0 0 20px;
	border-radius: 30px;
	text-align: center;
	width: 350px;
	background-color:#000000;
	}
form H2{
	color:  #FF046F;
	font-size: 35px;
}

.form-txt{
	display: flex;
	justify-content: space-between;
}
	
.form-txt a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
	margin-bottom: 25px;
}

.form-txt a:hover {
	color:  #FF046F;
}

.input-group {
	display: flex;
	flex-direction: column;
}
	
input , textarea {
	background-color: #B3B6B7;
}

.input-group {
	display: flex; 
	flex-direction: column;
}

input , textarea {
	background-color: #B3B6B7;
	padding: 20px 15px;
	margin-bottom: 30px;
	border: 0;
	border-radius: 10px;
	font-size: 25px; 
	color: #ffffff;
}

::placeholder {
	color: #ffffff;
	font-size: 25px;
}

:focus {
	outline: 3px solid #FF046F;
}

.btn {
	background-color: #FF046F;
	color: #000000;
	font-size: 17px;
	cursor: pointer;	
}

.btn:hover {
	background-color: #B3B6B7;
}

@media(max-width:991px) {
	body {
		padding: 30px;
	}
	form {
		width: 100%;
	}
}